<section class="container-fluid">
    <div class="row" style="margin-top:5em">
        <div class="col-md-12">
            <div class="panel panel-primary ">
                <div class="panel-heading ">
                    <h2 class="panel-title">Formato 342 Nissan</h3>
                </div>
                <div class="panel-body">
                    <div class="row" style="padding: 1em">
                        <img src="/Images/nissan-logo.png" style="width:7%">
                        <span class="pull-right" style="margin-bottom:1em">
                            <button class="btn btnGuardar" ng-click="vm.guardar()">
                                Guardar Formato <i class="fa fa-save"></i>
                            </button>
                            <button class="btn btnCancelar" ng-click="vm.index()">
                                Cancelar <i class="fa fa-arrow-left"></i>
                            </button>
                        </span>
                    </div>
                    <!--<div class="row">
                        <div class="col-md-8 mantNissan">
                            <label>Mantenimiento:</label>
                            <br>
                            <input type="checkbox">Preventivo
                            <input type="checkbox">Correctivo
                            <input type="text" class="form-control" placeholder="kms" style="width:30%">
                        </div>
                        <div class="col-md-2">
                            <label>Numero de OT:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <label>Fecha:</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Cliente:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label>Técnico:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <label>Placa:</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>-->
                    <hr />
                    <span class="pull-left" style="margin: 1em; width:500px">
                        <input type="text" class="form-control" placeholder="Nombre de Informe" ng-model="vm.model.Nombre" style="display:inline-block; width:100%" />
                    </span>
                    <span class="pull-right" style="margin:1em 0; width:750px">

                        <input type="text" class="form-control" placeholder="Nombre de Grupo" ng-model="vm.DescripcionGrupo" style="display:inline-block; width:45%" />
                        <button class="btn btn-success pull-right" ng-click="vm.agregarGrupoCalidad()" style="margin:0 1em">
                            Control de Calidad <i class="fa fa-plus-circle"></i>
                        </button>
                        <button class="btn btn-success pull-right" ng-click="vm.agregarGrupoEspecial()">
                            Accesorios <i class="fa fa-plus-circle"></i>
                        </button>
                        <button class="btn btn-success pull-right" ng-click="vm.agregarGrupo()" style="margin:0 1em">
                            Grupo <i class="fa fa-plus-circle"></i>
                        </button>

                    </span>
                    <tabla-informe-inspeccion grupos="vm.model.Grupos"
                                              agregar-grupo="vm.agregarGrupo"
                                              agregar-detalle="vm.agregarDetalle"
                                              esta-modo-edicion="vm.estaModoEdicion"
                                              eliminar-detalle="vm.eliminarDetalle">
                    </tabla-informe-inspeccion>
                    <tabla-grupo-especial grupos-especiales="vm.model.GruposEspeciales"
                                          agregar-grupo-especial="vm.agregarGrupoEspecial"
                                          agregar-detalle-accesorios="vm.agregarDetalleAccesorios"
                                          esta-modo-edicion="vm.estaModoEdicion"
                                          eliminar-detalle="vm.eliminarDetalle">
                    </tabla-grupo-especial>
                    <tabla-control-calidad grupos-calidad="vm.model.GruposCalidad"
                                           agregar-grupo-calidad="vm.agregarGrupoCalidad"
                                           agregar-detalle-calidad="vm.agregarDetalleCalidad"
                                           esta-modo-edicion="vm.estaModoEdicion"
                                           eliminar-detalle="vm.eliminarDetalle">
                    </tabla-control-calidad>
                    <!--<div class="col-md-12">
                        <textarea class="form-control" rows="3" id="textArea" style="resize:none" ng-model="vm.Comentario" ng-disabled="vm.estaModoEdicion"></textarea>
                        <span class="help-block">Comentarios.</span>
                    </div>
                    <div class="col-md-4 text-center">
                        <span class="" name="fechaCreacion">10/01/2015</span>
                        <p>Fecha</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <input class="form-control" name="nombreTecnico" type="text" placeholder="Escribe el nombre del Tecnico" ng-disabled="vm.estaModoEdicion">
                        <p>Nombre del Técnico</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <input class="form-control" name="nombreAsesor" type="text" placeholder="Escribe el nombre del Asesor" ng-disabled="vm.estaModoEdicion">
                        <p>Nombre del Asesor</p>
                    </div>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>