<form name="formularioFord" ng-submit="vm.completar()">
    <div class="row" style="padding: 1em">
        <img src="/Images/ford-logo.png" style="width: 10%">
        <span class="pull-right" style="margin-bottom: 1em">
            <button class="btn btnGuardar" type="submit">
                Completar Informe Inspeccion <i class="fa fa-save"></i>
            </button>
            <button class="btn btnCancelar" ng-click="vm.index()">
                Cancelar <i class="fa fa-arrow-left"></i>
            </button>
        </span>
    </div>

    <formulario vm="vm">

    </formulario>
</form>

  